PORT=3000
NODE_ENV=development
# DB & Bucket Railway
DATABASE_URL=
BUCKET_URL=
BUCKET_REGION=
BUCKET_NAME=
BUCKET_ID=
BUCKET_KEY=
# Jwt Secret Config
JWT_SECRET=$2a$12$wPq5eTC8KUicfDKpW6TM1eHT9XCvxKzcRNLkr1aon2J3aMdmxuaqi
JWT_EXPIRES_IN=3d
JWT_REFRESH_SECRET=$2a$12$vbyINE55mr7djW5rsBdVPeBh3z5UayyUUaLcKhvS6.OjM85HyfhFa
JWT_REFRESH_EXPIRES_IN=7d
# Ganti dengan nama domain jika sudah dideploy
APP_URL=http://localhost:3000 
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3001
# Atur Limit
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100