# App
APP_NAME=SPMB SMA Muhammadiyah Sokaraja
APP_ENV=development
APP_URL=http://localhost

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_kepegawaian
DB_USER=root
DB_PASS=

# JWT
JWT_SECRET=$2a$12$9NiXUscOCy4uIkIwz582eO/tyicadJ3Iz2Z4Yd0knc8UFHKn7XU6.
JWT_EXPIRY=86400

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173/

# AUTH
AUTH_MAX_ATTEMPT = 15
AUTH_COOLDOWN = 2